antlr4-python3-runtime==4.8
apex==0.1
asn1crypto==0.24.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
cryptography==2.1.4
dataclasses==0.8
filelock==3.0.12
huggingface-hub==0.0.12
idna==2.6
importlib-metadata==4.6.1
intel-openmp==2021.3.0
joblib==1.0.1
keyring==10.6.0
keyrings.alt==3.0
mkl==2021.3.0
numpy==1.19.5
omegaconf==2.1.1
packaging==21.0
pandas==1.1.5
protobuf==3.19.4
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.25
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
sentencepiece==0.1.96
six==1.11.0
tbb==2021.3.0
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.9.0
tqdm==4.61.2
transformers @ file:///workspace/transformers
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
